@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
table,
dl,
dd {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #000;
}
ul,
ol {
  list-style: none;
}
img {
  max-width: 100%;
  vertical-align: top;
  border: none;
}
body {
  margin: 0;
  padding: 50px 30px 70px;
  font-family:
    "pretendard", "Noto Sans KR", "sans-serif", system-ui, "-apple-system",
    "Segoe UI", "Roboto";
  font-size: 1em;
  background: #404040;
}
.title {
  padding: 13px;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
}
.container {
  margin-top: 75px;
}
nav {
  font-size: 0.875em;
}
nav > ul {
  width: 200px;
}
nav > ul > li {
  margin-top: 3px;
}
nav > ul > li:first-child {
  margin-top: 0;
}
nav > ul > li > a {
  display: block;
  height: 35px;
  line-height: 35px;
  text-indent: 20px;
  text-decoration: none;
  background-color: #0054b4;
  color: #fff;
}
nav > ul > li.active > a {
  background-color: #003f87;
}
nav li ul {
  display: none;
  overflow: hidden;
}
nav li li {
  border-top: 1px solid #eaeaea;
}
nav li li:first-child {
  border-top: none;
}
nav li li a {
  display: block;
  line-height: 35px;
  text-decoration: none;
  text-indent: 20px;
  background-color: #fff;
  color: #555;
}
nav li li a:hover,
nav li li a:focus {
  background-color: #eaeaea;
  color: #000;
}
