@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
table,
dl,
dd {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #000;
}
ul,
ol {
  list-style: none;
}
img {
  max-width: 100%;
  vertical-align: top;
  border: none;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
}
.clearfix::after {
  clear: both;
}
body {
  font-family:
    "pretendard", "Noto Sans KR", "sans-serif", system-ui, "-apple-system",
    "Segoe UI", "Roboto";
  font-size: 1em;
  background: #404040;
}

/* portfolio */
#portfolio {
  padding: 50px 30px 70px;
}
#portfolio .inner {
  margin: 0 auto;
  max-width: 1920px;
  text-align: center;
}
#portfolio .title {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 13px;
}
#portfolio .title h3 {
  font-size: 32px;
  font-weight: 600;
}
#portfolio .content {
  padding-top: 75px;
}
#portfolio .content .tab_menu {
  text-align: right;
}
#portfolio .content .tab_menu li {
  display: inline-block;
}
#portfolio .content .tab_menu li + li {
  margin-left: 5px;
}
#portfolio .content .tab_menu li a {
  display: block;
  padding: 4px 13px;
  line-height: 32px;
  font-size: 15px;
  color: #000;
  background-color: #fff;
}
#portfolio .content .tab_menu li.active a {
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
}
#portfolio .content .banner {
  padding-top: 25px;
}
#portfolio .content .banner ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-block-start: unset;
  margin-block-end: unset;
  padding-inline-start: unset;
  gap: 15px;
}
#portfolio .content .banner li {
  width: calc(100% / 3 - 10px);
}
#portfolio .content .banner li a {
  display: block;
  position: relative;
  overflow: hidden;
}
#portfolio .content .banner li a .photo {
  overflow: hidden;
}
#portfolio .content .banner li a .photo img {
  display: block;
  width: 100%;
  transform: scale(1);
  transition: transform 0.3s;
}
#portfolio .content .banner li a:hover .photo img,
#portfolio .content .banner li a:focus .photo img {
  transform: scale(1.05);
}
#portfolio .content .banner li a .desc {
  background-color: #dedede;
  padding: 25px 10px 35px;
}
#portfolio .content .banner li a .desc dl dt {
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
}
#portfolio .content .banner li a .desc dl dd {
  margin: 10px 0 0;
  font-size: 13px;
  font-weight: 600;
  white-space: nowrap;
  color: #838383;
}

@media (max-width: 800px) {
  #portfolio .content .banner li {
    width: calc(100% / 2 - 10px);
  }
}
@media (max-width: 600px) {
  #portfolio .content .banner li a .desc dl dt {
    font-size: 15px;
  }
  #portfolio .content .banner li a .desc dl dd {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  #portfolio .content .banner li {
    width: 100%;
  }
  #portfolio .content .banner li a .desc dl dt {
    font-size: 18px;
  }
  #portfolio .content .banner li a .desc dl dd {
    font-size: 13px;
  }
}
